.custom-anchor {
  .ant-anchor-ink {
    left: auto !important;
    right: 0 !important;
    background: red !important;
    width: 4px !important;
    z-index: 1 !important;
  }

  .ant-anchor::before {
    display: none !important;
  }
  .ant-anchor::after {
    content: ' ' !important;
    position: absolute !important;
    top: 0 !important;
    right: 1 !important;
    bottom: 0 !important;
    width: 2px !important;
    background: gray !important;
  }
}
